@import "tailwindcss";

/* Disable automatic device dark mode */

:root {
  color-scheme: light;
}

/* Base layout */

body {
  background-color: #ffffff;
  color: #111827;
}

/* Force dark class behaviour only when explicitly used */

.dark body {
  background-color: #111827;
  color: #f9fafb;
}